In [12]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import csv

In [119]:
# Read data
Country_Continent_df = pd.read_csv('Data/Country-Continent.csv')

#gdp_raw_df = pd.read_csv('Data/gdp-ppp-2017.csv', header=None)
  
# Calling DataFrame constructor 
column_names = ["a", "b", "c", "d", "e","f"]
#Creating the dataframe
gdp_raw_df = pd.DataFrame(columns = column_names)
  
#read cvs file into already created DF
with open('Data/gdp-ppp-2017.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        #print(row)
        a_series = pd.Series(row, index = gdp_raw_df.columns)
        gdp_raw_df = gdp_raw_df.append(a_series, ignore_index=True)

In [120]:
#Cleaning Data
gdp_format_df=gdp_raw_df
gdp_format_df.drop([0,1,2,3,4], axis=0,inplace=True)
gdp_format_df.reset_index(inplace=True,drop=True)
gdp_format_df['a'].replace('', np.nan, inplace=True)
gdp_format_df.dropna(subset=['a'], inplace=True)
gdp_format_df.drop(["c","f"], axis=1,inplace=True)

In [121]:
#Getting location to split
Index_pos = gdp_format_df.a[gdp_format_df.a == 'WLD'].index.tolist() 
Index_pos2 = gdp_format_df.a[gdp_format_df.a == 'LIC'].index.tolist() 
#Getting only Country Data
gdp_country_df = gdp_format_df.truncate(after=Index_pos[0]-1)
#Getting only region data including WLD
gdp_region_df = gdp_format_df.truncate(before=Index_pos[0],after=Index_pos2[0]-1)
#Restting Index back to 0
gdp_region_df.reset_index(inplace=True,drop=True)

gdp_country_df.rename(columns={'a': 'country_code', 'b': 'rank', 'd': 'country_name', 'e': 'gdp'}, inplace=True)
gdp_region_df.rename(columns={'a': 'region_code', 'b': 'rank', 'd': 'region_name', 'e': 'region_gdp'}, inplace=True)

In [127]:
# Read data
World_pop_df = pd.read_csv('Data/World-Pop-2017.csv')
World_pop_df['Country Code'].replace('', np.nan, inplace=True)
World_pop_df.dropna(subset=['Country Code'], inplace=True)

In [128]:
World_pop_df

,Series Name,Series Code,Country Name,Country Code,2017 [YR2017]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,36296400
1,"Population, total",SP.POP.TOTL,Albania,ALB,2873457
2,"Population, total",SP.POP.TOTL,Algeria,DZA,41389198
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,55620
4,"Population, total",SP.POP.TOTL,Andorra,AND,77001
...,...,...,...,...,...
254,"Population, total",SP.POP.TOTL,West Bank and Gaza,PSE,4454805
255,"Population, total",SP.POP.TOTL,World,WLD,7509065705
256,"Population, total",SP.POP.TOTL,"Yemen, Rep.",YEM,27834821
257,"Population, total",SP.POP.TOTL,Zambia,ZMB,16853688
258,"Population, total",SP.POP.TOTL,Zimbabwe,ZWE,14236745

In [122]:
gdp_region_df

  region_code rank                 region_name   region_gdp
0         WLD                            World  128,755,600
1         EAS              East Asia & Pacific   41,946,676
2         ECS            Europe & Central Asia   30,688,963
3         LCN        Latin America & Caribbean   10,258,018
4         MEA       Middle East & North Africa    8,864,772
5         NAC                    North America   21,196,625
6         SAS                       South Asia   11,766,663
7         SSF               Sub-Saharan Africa    4,072,459

In [123]:
gdp_country_df

    country_code rank              country_name         gdp
0            CHN    1                     China  23,350,230
1            USA    2             United States  19,485,394
2            IND    3                     India   9,596,835
3            JPN    4                     Japan   5,333,444
4            DEU    5                   Germany   4,345,631
..           ...  ...                       ...         ...
213          MAF       St. Martin (French part)         ..
214          SYR           Syrian Arab Republic         ..
215          TCA       Turks and Caicos Islands         ..
216          VEN                  Venezuela, RB         ..
217          VIR          Virgin Islands (U.S.)         ..

[217 rows x 4 columns]

In [124]:
Country_Continent_df

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0
...,...,...,...,...,...,...
257,Africa,AF,"Zambia, Republic of",ZM,ZMB,894.0
258,Oceania,OC,Disputed Territory,XX,NaN,NaN
259,Asia,AS,Iraq-Saudi Arabia Neutral Zone,XE,NaN,NaN
260,Asia,AS,United Nations Neutral Zone,XD,NaN,NaN
261,Asia,AS,Spratly Islands,XS,NaN,NaN