In [38]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import csv

In [39]:
# Read data for 2 and 3 letter country codes that includes continent
Country_Continent_df = pd.read_csv('Data/Country-Continent.csv')
  
# Calling DataFrame constructor  and creating the dataframe
column_names = ["a", "b", "c", "d", "e","f"]
gdp_raw_df = pd.DataFrame(columns = column_names)
  
# read cvs file into already created DF
with open('Data/gdp-ppp-2017.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        #print(row)
        a_series = pd.Series(row, index = gdp_raw_df.columns)
        gdp_raw_df = gdp_raw_df.append(a_series, ignore_index=True)

,a,b,c,d,e,f
0,,"Gross domestic product 2017, PPP",,,,
1,,,,,,
2,,,,,(millions of,
3,,Ranking,,Economy,international dollars),
4,,,,,,
5,CHN,1,,China,"23,350,230",
6,USA,2,,United States,"19,485,394",
7,IND,3,,India,"9,596,835",
8,JPN,4,,Japan,"5,333,444",
9,DEU,5,,Germany,"4,345,631",

In [42]:
# Cleaning Data fromgile gdp-ppp-2017
gdp_format_df=gdp_raw_df
gdp_format_df.drop([0,1,2,3,4], axis=0,inplace=True)
gdp_format_df.reset_index(inplace=True,drop=True)
gdp_format_df['a'].replace('', np.nan, inplace=True)
gdp_format_df.dropna(subset=['a'], inplace=True)

# remove commas from column e(gpd data) and remove blank columns
gdp_format_df['e'] = gdp_format_df['e'].str.replace(',', '') 
gdp_format_df.drop(['c','f'],axis=1,inplace=True)
gdp_format_df.head()

     a   b            d        e
0  ITA  11        Italy  2477386
1  MEX  12       Mexico  2409660
2  TUR  13       Turkey  2261008
3  KOR  14  Korea, Rep.  1998130
4  ESP  15        Spain  1818878

In [48]:
# Getting location to split read file into two pieces
# both regional and country data contained in same columns
Index_pos = gdp_format_df.a[gdp_format_df.a == 'WLD'].index.tolist()
Index_pos2 = gdp_format_df.a[gdp_format_df.a == 'LIC'].index.tolist()
Index_pos3 = gdp_format_df.a[gdp_format_df.a == 'TUV'].index.tolist()

#Getting only Country Data into data frame
gdp_country_df = gdp_format_df.truncate(after=Index_pos3[0])
gdp_country_df['e'] = gdp_country_df['e'].astype(int)  # convert column from string to integer

#Getting only region data including WLD
gdp_region_df = gdp_format_df.truncate(before=Index_pos[0],after=Index_pos2[0]-1)
gdp_region_df['e'] = gdp_region_df['e'].astype(int)  # convert column from string to integer

#Restting Index back to 0
gdp_region_df.reset_index(inplace=True,drop=True)

gdp_country_df.rename(columns={'a': 'country_code', 'b': 'rank', 'd': 'country_name', 'e': 'gdp'}, inplace=True)
gdp_region_df.rename(columns={'a': 'region_code', 'b': 'rank', 'd': 'region_name', 'e': 'region_gdp'}, inplace=True)
gdp_region_df.drop([0], axis=0,inplace=True)
gdp_region_df.reset_index(inplace=True,drop=True)
gdp_region_df.head(20)

  region_code rank                 region_name  region_gdp
0         EAS              East Asia & Pacific    41946676
1         ECS            Europe & Central Asia    30688963
2         LCN        Latin America & Caribbean    10258018
3         MEA       Middle East & North Africa     8864772
4         NAC                    North America    21196625
5         SAS                       South Asia    11766663
6         SSF               Sub-Saharan Africa     4072459

In [ ]:
# Read in birthrate, deathrate, net migration, pop growth rate data file with 
birth_rate_df = pd.read_csv('Data/Country-Continent.csv')

In [ ]:
# Merge GDP with population to calculate per capita GDP lowest 20 countries
gdp_per_capita = pd.merge(gdp_country_df, World_pop_df, left_on = 'country_code', right_on ='Country Code', how = 'left')
gdp_per_capita['Population 2017'] = gdp_per_capita['Population 2017'].astype(int)
gdp_per_capita['per capita'] = gdp_per_capita['gdp'] / gdp_per_capita['Population 2017'] * 1000000
country_percap_lowest = gdp_per_capita.sort_values(by = ['per capita'], ascending = True)